@using WebApplication1.Models.Database
@model Admin
@{
    ViewBag.Title = "AddStaff";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form class="form-group" method="post">
    @Html.Label("First Name")
    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
    <br />
    @Html.Label("Last Name")
    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
    <br />
    @Html.Label("Password")
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
    <br />
    @Html.Label("UserName")
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>

